<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
        <link rel="stylesheet" href="https://newcss.net/theme/night.css">
        <title>Pakt's Blog</title>
    </head>

    <body style="margin: 0 auto; width: 50%; text-align: center;">
        <header>
            <h1>Pakt's blog</h1>

            <nav>
                <a href="/register">Register</a>
                /
                <a href="/login">Login</a>
                /
                <a href="/create">Create a post</a>
            </nav>
        </header>

        {% block content %}
        {% endblock %}
    </body>
</html>