{% extends "base.html" %}

{% block content %}

<h2>Register</h2>

<div>
    <form action="/register" method="POST">
        <p>
            <label>Username</label>
            <br>
            <input type="text" name="username">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        </p>
        <p>
            <label>Password</label>
            <br>
            <input type="password" name="password">
        </p>
        <button type="submit">
            Submit
        </button>
    </form>
</div>

{% endblock %}